configuration {
    modi: "drun";
    show-icons: true;
    icon-theme: "Gruvbox-Plus-Dark";
    font: "monospace 10";
}

@theme "/usr/local/share/rofi/themes/gruvbox-dark.rasi"

* {
    background-color: #282828;
    text-color: #a89984;
    border-color: #458588;
}

window {
    background-color: #282828;
}

inputbar {
    background-color: #1d2021;
}

element selected.normal {
    background-color: #d79921;
    text-color: #1d2021;
}
